{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		tr,td{
			padding:10px;
		}
	</style>
</head>
<body>
	<center>
		<h1>Contact</h1>
		{% if msg %}
			<b style="color: blue;">{{msg}}</b>
		{% endif %}
		<form method="post" action="{% url 'contact' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name" required></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email" required></td>
				</tr>
				<tr>
					<td>Mobile</td>
					<td><input type="text" name="mobile" required></td>
				</tr>
				<tr>
					<td>Remarks</td>
					<td><textarea cols="22" rows="5" name="remarks" required></textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" name="action" value="SUBMIT" class="btn btn-primary">
					</td>
				</tr>
			</table>
		</form>
	</center>
	<h1>Recent Contacts</h1>
	{% for i in contacts %}
		Name : {{i.name}}<br>
		Remarks : {{i.remarks}}<br><hr>
	{% endfor %}
</body>
</html>
{% endblock %}